@import url('https://fonts.googleapis.com/css?family=Poppins:200,300.400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '', serif;

}
:root
{
    --clr:#14161e;
}
body
{
    background: url(https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
    min-height: 100vh;
}
.sidebar
{
    position: absolute;
    width: 0px;
    height: 100vh;
    background: #14161e;
    transition: 0.5s;
    padding-left: 0px;
    overflow: hidden;
}
.sidebar.active
{
    width: 210px;
}
.sidebar ul 
{
    position: relative;
    height: 100vh;
}
.sidebar ul li
{
    position: relative;
    list-style: none;
}
.sidebar ul li.active
{
    background: var(--clr);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.sidebar ul li.logo
{
    margin-bottom: 4px;
}
.sidebar ul li.logo .icon
{
    font-size: 1em;
    color: var(--clr);
}
.sidebar ul li.logo .text
{
    font-size: 1.0em;
    font-weight: 500;
    color: var(--clr);
}
.sidebar ul li a
{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}
.sidebar ul li a .icon
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding-left: 10px;
    height: 70px;
    font-size: 1.5em;
    color: #333;
    transition: 0.5s;
}
.sidebar ul li a .text
{
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: 0.5s;
}
.sidebar ul li.active a .icon
{
    color: #fff;
}
.sidebar ul li.active a .text
{
    color: var(--bg);
}
.sidebar ul li:hover a .icon,
.sidebar ul li:hover a .text
{
    color: var(--bg);
}
.sidebar ul li.active a .icon::before
{
    content: '';
    position: absolute;
    inset: 5px;
    width: 60px;
    background: var(--bg);
    border-radius: 50%;
    transition: 0.5s;
}
.sidebar ul li:hover.active a .icon::before
{
    background: #fff;
}
.bottom
{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.imgBx
{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menuToggle
{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #14161e;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuToggle::before
{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0 9px 0 #fff;
}
.menuToggle::after
{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(9px);
    transition: 0.5s;
}
.menuToggle.active::before
{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #fff;
}
.menuToggle.active::after
{
    transform: translateY(0px) rotate(-45deg);
}
.container .menu{
        float: right;
        line-height: 100px;